<div class="mx-auto md:w-2/3 w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id @property_enquiry %>" class="w-full">
      <div class="flex justify-center">
        <h1 class="font-bold text-4xl mr-8"><%= @property_enquiry.address %></h1>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"><%= @property_enquiry.human_friendly_state %></p>
      </div>
    </div>

    <%= render "property_enquiries/event_logs", property_enquiry: @property_enquiry %>
    <%= render "property_enquiries/comments", property_enquiry: @property_enquiry %>

    <%= form_with(model: @property_enquiry, class: "update-action-form") do |form| %>
      <div class="flex-wrap">
        <div class="my-5">
          <%= form.label :action %>
          <%= form.select :action, @property_enquiry.state_events , class: "" %>
        </div>

        <div class="my-5">
          <%= form.submit "Submit action", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Back to property_enquiries', property_enquiries_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
